<template name="Home">
  <div>
    <p>Todos :</p>
    {{#if currentUser}}
      <form action="">
        <input class="form-control" name="todoInput" type="text" placeholder="Todos"/>
      </form>
      {{else}}
      <form action="">
        <input class="form-control" readonly name="todoInput" type="text" placeholder="Todos"/>
      </form>
    {{/if}}


  </div>

  <table class="table table-condensed">
    <tbody>
    {{#each items }}
      <tr>
        <td>
          <input type="checkbox" name="is_done" {{isDoneCheck}}/>
        </td>
        <td class="{{isDoneClass}}">{{subject}}</td>
        <td>
          <button class="btn btn-default" name="remove">rm</button>
        </td>
      </tr>
    {{else}}
      <li>No todos yet.</li>
    {{/each}}
    </tbody>
  </table>

  <p>{{todoCount}} / {{total}}</p>

</template>
