<template name="FileUpload">
  <div class="col-sm-4">
    <div class="thumbnail">
      <p>FileUpload</p>

      <div>
        <input type="file" name="files" multiple/>
      </div>
      <br/>

      <div>
        <input type="submit" value="Upload File"/>
      </div>
      <br/>

      <p>Filepicker ver</p>

      <div>
        <input type="filepicker" data-fp-apikey="AjKDH1VmIRpOkieA95PsZz" data-fp-mimetypes="image/*"
               data-fp-container="modal" data-fp-services="COMPUTER" onchange="alert(event.fpfile.url)">
      </div>

    </div>
  </div>
</template>

