<template name="Algo0">

  <br/>

  <div class="ui input">
    <input type="text" placeholder="Till" value="{{till}}" name="till">
  </div>

  <br/>
  <br/>

  <div class="ui left action input">
    <button class="ui teal labeled icon button">
      Fizz
    </button>
    <input type="number" value="{{fizz}}" name="fizz">
  </div>

  <div class="ui action input">
    <input type="number" value="{{buzz}}" name="buzz">
    <button class="ui teal right labeled icon button">
      Buzz
    </button>
  </div>
  <br/>
  <br/>
  <br/>

  <form class="ui form">
    <div class="field">
      <label>Board</label>
      <textarea name="matrixTextArea" id="matrixTextArea" style="height: 373px" value="{{fizzValue}}"></textarea>
    </div>
  </form>
  <br/>
  <br/>

</template>
