<template name="blogUpdate">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'blogIndex'}}">Blog</a></li>
            <li class="active">update</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">Update Blog</h3>
            </div>
            <div class="clearfix"></div>

            {{> blog_form model}}  
        </div>        
    </div>
</template>