<template name="TodosDetail">

  {{#contentFor 'breadcrumb'}}
    {{#unless isMyTodo}}
      <li>
        {{#linkTo route='users.detail' _id=user._id}}
          {{user.profile.name}}
        {{/linkTo}}
      </li>
    {{/unless}}
    <li>{{subject}}</li>
  {{/contentFor}}

  {{#if get 'isEditing'}}
    <form id="edit-todo" action="">
      <input type="text" class="form-control" name="subject" value="{{subject}}" placeholder="Subject"/>
      <textarea class="form-control" name="description" placeholder="Description" id="" cols="30"
                rows="10">{{description}}</textarea>
      <button class="btn btn-default">Submit</button>
      <a href="{{pathFor 'todos.detail'}}">
        <button class="btn btn-default">Cancel</button>
      </a>

    </form>

  {{else}}
    <div>subject : {{subject}}</div>
    <div>description: {{description}}</div>
    <div>_id : {{_id}}</div>
    <div>createdAt : {{createdAt}}</div>
    <div>updatedAt : {{updatedAt}}</div>
    <div>isDone : {{isDone}}</div>
    <div>userId : {{userId}}</div>
    {{#if isMyTodo}}
      {{#linkTo route='todos.edit'}}
        Edit
      {{/linkTo}}
    {{/if}}
  {{/if}}

  {{>CommentsList}}

</template>
