<template name="N4">
  <h5>Find me in app/client/templates/n4/n4</h5>

  <h1>4. 디지털 시계</h1>

  <p>디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 인가?</p>

  <p>디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시된다.</p>

  <p>입력없이 결과(초)를 출력하면 된다.</p>

  <br/>

  <p>총 {{totalSecondPerDay}} 초중 </p>
  <br/>

  <div class="ui left action input">
    <button class="ui teal labeled icon button">
      Put Second
    </button>
    <input type="number" value="{{nValue}}" name="nValue">
  </div>

  <br/>
  <br/>

  <div class="ui input focus">
    <input type="text" value="{{thirdSecondPerDay}} 초" placeholder="Search...">
  </div>

</template>
