<template name="Algo1">

  <br/>

  <p>untill</p>

  <div class="ui input">
    <input type="text" placeholder="Till" value="{{till}}" name="till">
  </div>

  <br/>
  <br/>

  <div class="ui left action input">
    <button class="ui teal labeled icon button">
      except
    </button>
    <input type="number" value="{{except}}" name="except">
  </div>

  <br/>
  <br/>

  <form class="ui form">
    <div class="field">
      <label>Board</label>
      <textarea name="matrixTextArea" id="matrixTextArea" style="height: 373px" value="{{exceptValue}}"></textarea>
    </div>
  </form>
  <br/>
  <br/>
</template>
