<template name="MasterLayout">
  <div class="navbar">
    <a class="navbar-brand" href="{{pathFor 'home'}}">Spiral matrix</a>
    <ul class="nav navbar-nav">
      <li class="">
        <a href="{{pathFor 'home'}}">spiral matrix</a>
      </li>
      <li class="">
        <a href="{{pathFor 'algo0'}}">fizzbuzz</a>
      </li>
      <li class="">
        <a href="{{pathFor 'algo1'}}">except</a>
      </li>
      <li class="">
        <a href="{{pathFor 'algo2'}}">algo2</a>
      </li>
    </ul>
  </div>
  <div class="container">
    {{> yield}}
  </div>
</template>
