<template name="Home">

  <div>
    <button name="counter" class="btn btn-default">
      Click Me
    <span class="badge">
      {{counter}}
    </span>
    </button>
  </div>

  <label class="hide-finished" for="">
    <input type="checkbox" checked="{{hideFinished}}"/>
    Hide Finished
  </label>

  {{> quickForm collection="Resolutions" id="insertPostForm" type="insert"}}

  {{#each resolutions}}
    <div>
      <span class="toggle-checked {{check}}">
        {{title}}
        {{timestamp}}
        {{checked}}
      </span>
      <span name="rm">rm</span>
    </div>
  {{/each}}

</template>
