<template name="Home">

  <label class="hide-finished" for="">
    <input type="checkbox" checked="{{hideFinished}}"/>
    Hide Finished
  </label>

  {{> quickForm collection="Resolutions" id="insertPostForm" type="insert"}}

  {{#each resolutions}}
    <div>
    <span class="toggle-checked {{check}}">
      {{title}}
      {{timestamp}}
      {{checked2}}
    </span>

      {{#if isOwner}}
        <button class="btn btn-default">
          {{#if private}}
            private
          {{else}}
            public
          {{/if}}
        </button>
      {{/if}}

      <button class="btn btn-default" name="rm">Remove</button>
    </div>
  {{/each}}

</template>
