<template name="Main">

    {{>Modal}}
  <div class="container">
    <input type="hidden" name="updated" value="{{updated}}" id="updated"/>


    <div id="main" role="main">

      <ul id="tiles">
        <!-- These are our grid blocks -->
        <li><img src="../sample-images/image_1.jpg" width="200" height="283">

          <p>1</p></li>
        <li>{{> ProgressBars}}</li>
        <li>{{> FileUpload}}</li>
        <li>{{> Mongo}}</li>
        <li>{{> ProgressBars}}</li>
        <li>{{> ProgressBars}}</li>
        <li>{{> ProgressBars}}</li>
        <li>{{> ProgressBars}}</li>
      </ul>
    </div>
      {{#each articles}}
          {{> Articles}}
      {{/each}}
  </div>

</template>
