<template name="Home">
  <h1>Find me in app/client/templates/home/home</h1>

  <div id="outer"></div>

  <div class="parent" style="background-color: blue">div parent1</div>
  <div class="parent" style="background-color: blue">2
    <div class="child" style="background-color: red">div chind1</div>
    <div class="child" style="background-color: red">div chind2</div>
    <div class="child" style="background-color: red">div chind3</div>
  </div>
  <div class="child" style="background-color: red">div chind</div>

  <div class="flex-container" style="background-color: red">
    <div class="flex-item" style="background-color: blue"></div>
    <div class="flex-item" style="background-color: blue"></div>
    <div class="flex-item" style="background-color: blue"></div>
    <div class="flex-item" style="background-color: blue"></div>
    <div class="flex-item" style="background-color: blue"></div>
    <div class="flex-item" style="background-color: blue"></div>
    <div class="flex-item" style="background-color: blue"></div>
    <div class="flex-item" style="background-color: blue"></div>
  </div>

</template>
