<template name="Main">

  <!--<button class="btn btn-danger" name="rm">Remove</button>-->

    {{#masonryContainer columnWidth=1 transitionDuration="0.1s" gutter=2 id="MasonryContainer" }}
        {{#masonryElement "MasonryContainer"}}
          <button class="btn btn-danger" name="add">Add</button>
        {{/masonryElement}}
        {{#each items}}
            {{#masonryElement "MasonryContainer"}}
                {{> Items}}
            {{/masonryElement}}
        {{/each}}
    {{/masonryContainer}}

</template>

