<template name="Lab0">
  <h1>Find me in app/client/templates/lab0/lab0</h1>

  <h1>it's {{foo}}</h1>
  {{referense}}
  {{copy2}}
  {{copy}}

  <div class="navigation">
    <!--<div>-->
      <p class="blue">Code world</p>

      <p>Code world</p>
    <!--</div>-->
  </div>

  <p>Code world</p>

  <p>Code world</p>

  <div style="margin-top:00px">
    <div class="prac1" style="margin-top:50px;background-color:green">
      마진겹칩
    </div>
    <div class="prac12" style="">
      마진겹칩
    </div>
  </div>


</template>
