<template name="Lab0">
  <h1>Find me in app/client/templates/lab0/lab0</h1>

  <h1>it's {{foo}}</h1>
  {{referense}}
  {{copy2}}
  {{copy}}

  <div class="navigation">
    <!--<div>-->
    <p class="blue">Code world</p>

    <p>Code world</p>
    <!--</div>-->
  </div>

  <p>Code world</p>

  <p>Code world</p>

  <div style="margin-top:00px">
    <div class="prac1" style="margin-top:50px;background-color:green">
      마진겹칩
    </div>
    <div class="prac12" style="">
      마진겹칩
    </div>
  </div>
  <br/>

  <div class="left">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam architecto culpa cumque doloremque eveniet,
    facere fugit illo iusto libero nulla
    perferendis quod rem repudiandae sint ullam velit vero voluptatum?
  </div>
  <br/>

  <div class="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam architecto culpa cumque
    doloremque eveniet,
    facere fugit illo iusto libero nulla perferendis quod rem repudiandae sint ullam velit vero voluptatum?
  </div>
  <br/>

  <div class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam architecto culpa cumque
    doloremque eveniet,
    facere fugit illo iusto libero nulla perferendis quod rem repudiandae sint ullam velit vero voluptatum?
  </div>

  <div class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam architecto culpa cumque
    doloremque eveniet,
    facere fugit illo iusto libero nulla perferendis quod rem repudiandae sint ullam velit vero voluptatum?
  </div>

  <div class="prac5">
    <a href="">Link</a>
  </div>

  <table class="prac6">
    <tr>
      <th>순서</th>
      <th>과목명</th>
      <th>토픽수</th>
    </tr>
    <tr>
      <td>1</td>
      <td>웹서비스 만들기</td>
      <td>12</td>
    </tr>
    <tr>
      <td>2</td>
      <td>HTML 수업</td>
      <td>CSS 수</td>
    </tr>
  </table>

  <div class="back">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur cum deleniti dolorem doloremque esse
    fugit id, inventore molestias nisi possimus, quas quia sapiente, sed soluta suscipit vitae voluptas voluptatum.
  </div>

  <a href="">Inline element</a>
  <a href="">Inline element</a>
  <a href="" style="border:3px solid red">Inline element</a>
  <a href="" style="border:3px solid red">Inline element</a>
  <br/>

  <div>
    <a href="" style="border:3px solid red;padding: 50px">Inline element</a>
    <a href="" style="border:3px solid red;padding: 50px">Inline element</a>
  </div>
  <br/>
  <br/>

  <div>
    <a href="" style="border:3px solid red;padding: 50px;margin: 20px;">Inline element</a>
    <a href="" style="border:3px solid red;padding: 50px;margin: 20px;">Inline element</a>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>


  <div style="border:3px solid green;">Block element</div>
  <div style="border:3px solid green;">Block element</div>
  <br/>
  <br/>
  <br/>
  <br/>

  <div style="border:23px solid green;">Block element</div>
  <div style="border:23px solid green;">Block element</div>
  <br/>
  <br/>
  <br/>
  <br/>


  <div style="border:3px solid green;margin: 20px">Block element</div>
  <div style="border:3px solid green;margin: 20px">Block element</div>
</template>
