<template name="PostsDetail">
  {{#if get 'isEditing'}}
    {{> quickForm collection="Posts" id="updatePostForm" type="update" doc=this}}
    <a href="{{pathFor 'posts.detail'}}">Cancel</a>
  {{else}}
    <div>
      {{_id}}
      {{title}}
      {{content}}
      {{createdAt}}
      <a href="{{pathFor 'posts.edit'}}">Edit</a>
      <a href="#" name="removePosts">rm</a>
    </div>

    {{#autoForm collection="Comments" id="insertPostForm" type="insert"}}
      <fieldset>
        {{> afQuickField name='comments' rows=3}}
      </fieldset>
      <button name='insert' type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}

    {{#each postComments}}
      <div>{{comments}}
        <button class="btn btn-default" name="removeComment">rm</button>
      </div>
    {{/each}}
  {{/if}}
</template>
