<template name="PostsDetail">
  {{#if get 'isEditing'}}
    {{> quickForm collection="Posts" id="updatePostForm" type="update" doc=this}}
    <a href="{{pathFor 'posts.detail'}}">Cancel</a>
  {{else}}
    <div>
      {{_id}}
      {{title}}
      {{content}}
      {{createdAt}}
      <a href="{{pathFor 'posts.edit'}}">Edit</a>
      <a href="#" name="rm">rm</a>
    </div>
    {{> quickForm collection="Comments" id="insertPostForm" type="insert"}}
    {{#each postComments}}
      <div>{{comments}}</div>
    {{/each}}
  {{/if}}
</template>
