<template name="Home">
  <div class="container">
    <!--//start pannel-->

    <div class="ui form">
      <div name="checkToggle" class="ui toggle checkbox">
        <input type="checkbox" {{checked}}>
        <label>Toggle</label>
      </div>
    </div>
    <br/>

    <div class="ui left action input">
      <button class="ui teal labeled icon button">
        Put X
      </button>
      <input type="number" value="{{xValue}}" name="xValue">
    </div>

    <div class="ui action input">
      <input type="number" value="{{yValue}}" name="yValue">
      <button class="ui teal right labeled icon button">
        Put Y
      </button>
    </div>
    <br/>
    <br/>
    <!--//panel end-->
    <form class="ui form">
      <div class="field">
        <label>Spiral</label>
        <textarea name="matrixTextArea" id="matrixTextArea" style="height: 373px" value="{{matrixValue}}"></textarea>
      </div>
    </form>
  </div>
</template>
