<template name="Home">
{{> loginButtons}}

  <h2>Leaderboard</h2>

  {{>AddPlayerForm}}

  <table class="table table-striped">
    <thead>
    <tr>
      <td>#</td>
      <td>Name</td>
      <td>Score</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody>
    {{#each players }}
      <tr class="player {{selectedClass}}">
        <td>
          <!--<input type="checkbox"/>-->
        </td>
        <td>{{name}}</td>
        <td>{{score}}</td>
        <td></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <h5>Selectedplayer : {{showSelectedPlayer.name}}</h5>

  <button class="btn btn-default" name="increment">Give 5 Point</button>
  <button class="btn btn-default" name="decrement">Take 5 Point</button>
  <button class="btn btn-default" name="rm">Remove</button>

</template>
