<template name="hello">

  <h1 class="well">Coffee script makes evertings easyier!</h1>

  <div class="well">
    <h2>Count</h2>
    <button class="btn" name="counter">Click</button>
    <p>You've pressed the button {{counter}} times.</p>
  </div>

  <div class="well">
    <h2>Alert</h2>
    <button class="btn" name="hw">hello coffee</button>
    <button class="btn" name="hw2">it's awesome</button>
  </div>

  <div class="well">
    <h2>Opposite</h2>
    <button class="btn" name="oppo">True</button>
    <button class="btn" name="oppo2">False</button>
    <p>Which want? {{opposite}}</p>
  </div>

  <div class="well">
    <h2>Dice Cal Log</h2>
    <button class="btn" name="triger">random 1 to 6</button>
    <button class="btn" name="triger2">random 0 or 1</button>
    <button class="btn" name="triger3">1 to 10 row</button>
    <button class="btn" name="triger4">1 to 10 col</button>
  </div>

  <div class="well">
    <h2>Dice Cal Reactive</h2>
    <button class="btn" name="triger9">random 1 to 6</button>
    <button class="btn" name="triger10">random 0 or 1</button>
    <button class="btn" name="triger11">1 to 10 row</button>
    <p>The dice {{dice}}</p>
    <p>0 or 1 ? = {{zeroOne}}</p>
    <p>Print 1 to 10 = {{oneToTen}}</p>
  </div>


  <div class="well">
    <h2>Arithmetic Log</h2>

    <div>
      <input name="first" type="text"/>
      <input name="second" type="text"/>
    </div>

    <button class="btn" name="triger5">Addition</button>
    <button class="btn" name="triger6">Subtraction</button>
    <button class="btn" name="triger7">multiplication</button>
    <button class="btn" name="triger8">division</button>
  </div>

  <div class="well">
    <h2>Arithmetic Reactive</h2>

    <div>
      <input name="first1" type="text"/>
      <input name="second2" type="text"/>
    </div>

    <button class="btn" name="triger12">Addition</button>
    <button class="btn" name="triger13">Subtraction</button>
    <button class="btn" name="triger14">multiplication</button>
    <button class="btn" name="triger15">division</button>
    <p> = {{ari}}</p>

  </div>

</template>
