<template name="hello">

  <h1 class="well">Coffee script makes evertings easyier!</h1>

  <div class="well">
    <h2>Count</h2>
    <button class="btn" name="counter">Click</button>
    <p>You've pressed the button {{counter}} times.</p>
  </div>

  <div class="well">
    <h2>Alert</h2>
    <button class="btn" name="hw">hello coffee</button>
    <button class="btn" name="hw2">it's awesome</button>
  </div>

  <div class="well">
    <h1>Log Cal</h1>
    <button class="btn" name="triger">random 1 to 6</button>
    <button class="btn" name="triger2">random 0 or 1</button>
    <button class="btn" name="triger3">1 to 10 row</button>
    <button class="btn" name="triger4">1 to 10 col</button>
  </div>


  <div class="well">
    <h1>Arithmetic</h1>

    <div>
      <input name="first" type="number"/>
      <input name="second" type="number"/>
    </div>

    <button class="btn" name="triger5">Addition</button>
    <button class="btn" name="triger6">Subtraction</button>
    <button class="btn" name="triger7">multiplication</button>
    <button class="btn" name="triger8">division</button>
  </div>

</template>
