<template name="MasterLayout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'posts.list'}}">Microscope</a>
        <ul class="nav navbar-nav">
          <li id="add"><a href="#">Add One<span class="sr-only">(current)</span></a></li>
          <li><a href="{{pathFor 'infinity'}}">infinity</a></li>
          <li><a href="{{pathFor 'pages'}}">pages</a></li>
        </ul>
      </div>
    </header>
    <div id="main" class="row-fluid">
        {{> yield}}
    </div>
  </div>
</template>